 <div class="grid-center">
     	   <h2>Reservar</h2> 
     </div>
<div class="grid">
    	
     <div class="col">
    	 <h2>Crear Reservación</h2> 
    	 <app-reservation-form></app-reservation-form>
    </div>
    <div class="col"> <app-reservation-summary></app-reservation-summary></div>
    
     <div class="col">
     	 <h2>Reservaciones</h2>
    	<app-previous-reservations></app-previous-reservations>
    </div>
    <div class="col">

    	<app-schedule-list></app-schedule-list></div>
</div>